*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.block{
    background-color: #FFA437;
    width: 50%;
    height: 100px;
}
.main2{
    background-color: #DAEC00;
    width: 100%;
    height: 250px;
}
.main3{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.block2{
    background-color: #4A89CF;
    width: 33%;
    height: 200px;
}
.main4{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.main5{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.main6{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.block3{
    background-color: #E3E3E3;
    width: 50%;
    height: 150px;
}
.block4{
    background-color: #E3E3E3;
    width: 50%;
    height: 150px;
}

@media screen and (max-width:1200px) {
    .main1{
        display: flex;
        flex-direction: column;
    }
    .block{
        width: 100%;
    }
    .main3{
        display: flex;
        flex-direction: column;
    }
    .block2{
        width: 100%;
        height: 100px;
    }
    .main4{
        display: flex;
        flex-direction: column;
        
    }
    .block3{
        width: 50%;
    }
}
@media screen and (max-width:768px) {
    .main5{
        display: flex;
        flex-direction: column;
    }
    .block3{
        width: 100%;
        height: 100px;
    }
    .main6{
        display: flex;
        flex-direction: column;
    }
    .block4{
        width: 100%;
        height: 100px;
    }
}