*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.615);
    margin: 10px 500px; 
    border-radius: 9px;
}
.align-items-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.p-2{
    margin: 10px;
}
.lines{
    border-bottom: 1px solid rgba(182, 180, 180, 0.552);
}


