*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 220, 221, 0.347);
    margin: 10px 500px;
    padding: 20px;
    gap: 10px;
}
.main1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-bottom: 2px solid rgba(200, 199, 199, 0.659);
}
.main2{
    width: 50%;
    
}
.main4{
    display: flex;
    flex-direction: row;
    gap: 20px;
}