*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main1 p{
    font-size: 30px;
    font-weight: 500;
    padding-left: 13px;
}
.main2 .main3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    width: 360px;
    height: 350px;
    border-radius: 6px;
}
.main3 .container{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
.item{
    background-color: rgba(118, 118, 117, 0.24);
    border-radius: 5px;
}
.main3 .container h2{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black, rgb(214, 213, 213)); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
    
    border-radius: 6px;
}
.main3 .container2{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main3 .container2 h2{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black, rgb(214, 213, 213)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;

    border-radius: 6px;
}
.main3 .container3{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main3 .container3 h2{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black, rgb(214, 213, 213)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;

    border-radius: 6px;
}
.main3 .container4{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main3 .container4 h2{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black, rgb(214, 213, 213)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;

    border-radius: 6px;
}